.nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #f9f9fa;
    padding: 20px 40px;
    box-sizing: border-box; /* width OR height을 적용했다면 padding을 주었을때 크기가 늘어나는 것을 방지해줌*/
    border-top: 1px solid rgba(121, 121, 121, 0.3)
}

.nav_list {
    display: flex;
    justify-content: space-between;
}

.nav_link {
    color: #2e363e;
    position: relative;
}

.nav_notification {
    color: white;
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 15px;
}